# netplan_bridge_template.j2
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ physical_interface }}:
      dhcp4: no
      dhcp6: no
  openvswitch:
    ports:
      - [{{ physical_interface }}, {{ bridge_name }}]
    bridges:
      {{ bridge_name }}:
        dhcp4: no
        dhcp6: no
        addresses: ["{{ public_ip }}{{ node_subnet }}"]
        routes:
          - to: 0.0.0.0/0
            via: {{ node_gateway }}
        nameservers:
          addresses: [8.8.8.8, 8.8.4.4]
        parameters:
          stp: false
          forward-delay: 0chmod 0600 /etc/netplan/50-br-ex-config.yaml